{% extends "layout/ChatbotLayout.html" %}
{% block content %}

    <div class="container" style="margin-top: 60px">
        <div class="row" id="changeLogoDiv">
            <form id="upload-image-form" action="{{ url_for('api_upload_logo') }}" method="post"
                  enctype="multipart/form-data">
                <div id="image-preview-div" style="display: none">
                    <label for="exampleInputFile">Selected image:</label>
                    <br>
                    <img id="preview-img" src="#">
                </div>
                <div class="form-group">
                    <span>Choose Logo Image:</span>
                    <input type="file" name="file" id="file" required
                           accept="image/x-png,image/gif,image/jpeg,image/jpg">
                </div>
                <button class="btn btn-lg btn-primary" id="upload-button" type="submit" disabled>Upload image</button>
            </form>
            <br>
            <div class="alert alert-info" id="loading" style="display: none;" role="alert">
                Uploading image...
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45"
                         aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>
            <div id="message"></div>
        </div>
    </div>
    <script>
        function noPreview() {
            $('#image-preview-div').css("display", "none");
            $('#preview-img').attr('src', 'noimage');
            $('upload-button').attr('disabled', '');
        }

        function selectImage(e) {
            $('#file').css("color", "green");
            $('#image-preview-div').css("display", "block");
            $('#preview-img').attr('src', e.target.result);
            $('#preview-img').css('max-width', '550px');
        }

        $(document).ready(function (e) {

            var maxsize = 500 * 1024; // 500 KB

            $('#max-size').html((maxsize / 1024).toFixed(2));

            $('#upload-image-form').on('submit', function (e) {

                e.preventDefault();

                $('#message').empty();
                $('#loading').show();

                $.ajax({
                    url: "{{ url_for('api_upload_logo') }}",
                    type: "POST",
                    data: new FormData(this),
                    contentType: false,
                    headers: {
                        "x-access-token": sessionStorage.getItem('accessToken')
                    },
                    processData: false,
                    success: function (data) {
                        $('#loading').hide();
                        $('#message').html(data.message);
                    },
                    error: function (error) {
                        $('#loading').hide();
                        $('#message').html(error.message);
                    }
                });
            });

            $('#file').change(function () {

                $('#message').empty();

                var file = this.files[0];
                var match = ["image/jpeg", "image/png", "image/jpg"];

                if (!((file.type == match[0]) || (file.type == match[1]) || (file.type == match[2]))) {
                    noPreview();

                    $('#message').html('<div class="alert alert-warning" role="alert">Unvalid image format. Allowed formats: JPG, JPEG, PNG.</div>');

                    return false;
                }

                if (file.size > maxsize) {
                    noPreview();

                    $('#message').html('<div class=\"alert alert-danger\" role=\"alert\">The size of image you are attempting to upload is ' + (file.size / 1024).toFixed(2) + ' KB, maximum size allowed is ' + (maxsize / 1024).toFixed(2) + ' KB</div>');

                    return false;
                }

                $('#upload-button').removeAttr("disabled");

                var reader = new FileReader();
                reader.onload = selectImage;
                reader.readAsDataURL(this.files[0]);

            });

        });
    </script>
{% endblock content %}
